h1{
    color: #0000ff;
    text-align: center;
}
h2{
    color: green;
    text-align: center;
    font-style: italic;
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 40px;
}
.intro{
    font-style: italic;
}
.list{
    color: black;
}
.p2{
    color:green;
}
#p3{
    color: blue;
}